---

---

<div class="title position-relative">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="text-dark">Bienvenidos a Lozabino</h1>
        <h2 class="text-muted mb-5">
            Asesoramiento y servicios a su disposición
        </h2>
        <div class="btn-container mt-5">
            <button>CURSOS</button>
            <button>SERVICIOS</button>
        </div>
    </div>
</div>

<style>
    .title {
        height: 400px;
        /* background-color: #38081bcb; */
        background-color: rgb(238, 238, 238);
    }

    .btn-container {
        margin: 30px auto;
        display: flex;
        justify-content: space-around;
    }

    .btn-container > button {
        width: 200px;
        height: 40px;
        border: 0;
        background-color: #38081b;
        color: white;
        border-radius: 5px;
    }
</style>
