---

---

<!-- <div class="container">
    <div>
        <p>
            Como respuesta la necesidad del mantenimiento optimización y
            utilización de nuevas tecnologías de información LOZABINO, ofrece
            una amplia gama de servicios a su alcance. Brindamos servicio
            integrales en el área de sistemas ofreciendo soluciones y propuestas
            integrales en el área de las tecnologías de la información.
        </p>
    </div>

    <hr />

    <div class="row">
        <div class="col-3">
            <h2>Nosotros</h2>
            <ul>
                <li><a href="">¿Quiénes Somos?</a></li>
                <li><a href="">Misión</a></li>
                <li><a href="">Visión</a></li>
                <li><a href="">Valores</a></li>
                <li><a href="">Responsabilidades Corporativas</a></li>
            </ul>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        >Active</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-expanded="false">Dropdown</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link disabled"
                        href="#"
                        tabindex="-1"
                        aria-disabled="true">Disabled</a
                    >
                </li>
            </ul>
        </div>
        <div class="col-9">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium dolore, autem, non, voluptatem voluptates sapiente
                cumque amet quaerat perspiciatis impedit doloribus maxime
                mollitia architecto rem ullam ipsam suscipit quam facilis!
            </p>
        </div>
    </div>
</div> -->
<div class="container">
    <h2 class="mb-5">Nosotros</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">¿Quiénes Somos?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Misión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Visión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Valores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Responsabilidades Corporativas</a>
        </li>
    </ul>

    <div class="p-4">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam,
            itaque eius doloribus harum voluptates nisi est dicta quae
            perferendis quaerat, distinctio odio ab! Iusto nostrum voluptatem
            error perferendis veritatis enim.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero,
            atque earum delectus asperiores aut ut dolorem suscipit repellendus.
            Quia aspernatur, consequatur dignissimos sint omnis voluptas
            molestias cumque tenetur. Nulla, nesciunt. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Eos cupiditate debitis
            accusantium, a nesciunt culpa beatae odit, quasi pariatur dolore
            illo incidunt natus similique, voluptatibus consequuntur itaque?
            Illo, nihil? Veniam.
        </p>
    </div>

    <hr />

    <p>
        Como respuesta la necesidad del mantenimiento optimización y utilización
        de nuevas tecnologías de información LOZABINO, ofrece una amplia gama de
        servicios a su alcance. Brindamos servicio integrales en el área de
        sistemas ofreciendo soluciones y propuestas integrales en el área de las
        tecnologías de la información.
    </p>
</div>

<style></style>
