---

---

<h1 class="text-center mb-5">SERVICIOS</h1>

<div class="container position-relative">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-2">
            <a href=""
                ><img
                    class="icon"
                    src="./images/icons/icon_1.png"
                    alt="Equipos de Cómputo"
                /></a
            >
        </div>

        <div class="col-2">
            <a href=""
                ><img
                    class="icon"
                    src="./images/icons/icon_2.png"
                    alt="Equipos de Cómputo"
                /></a
            >
        </div>

        <div class="col-2">
            <a href=""
                ><img
                    class="icon"
                    src="./images/icons/icon_3.png"
                    alt="Equipos de Cómputo"
                /></a
            >
        </div>

        <div class="col-2">
            <a href=""
                ><img
                    class="icon"
                    src="./images/icons/icon_4.png"
                    alt="Equipos de Cómputo"
                /></a
            >
        </div>

        <div class="col-2">
            <a href=""
                ><img
                    class="icon"
                    src="./images/icons/icon_5.png"
                    alt="Equipos de Cómputo"
                /></a
            >
        </div>
    </div>

    <div class="row p-4 justify-content-center align-items-center">
        <div class="col-6 p-5">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Veniam, itaque eius doloribus harum voluptates nisi est dicta
                quae perferendis quaerat, distinctio odio ab! Iusto nostrum
                voluptatem error perferendis veritatis enim.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero,
                atque earum delectus asperiores aut ut dolorem suscipit
                repellendus. Quia aspernatur, consequatur dignissimos sint omnis
                voluptas molestias cumque tenetur. Nulla, nesciunt. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Eos cupiditate
                debitis accusantium, a nesciunt culpa beatae odit, quasi
                pariatur dolore illo incidunt natus similique, voluptatibus
                consequuntur itaque? Illo, nihil? Veniam.
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <hr class="col-6" />
    </div>

    <div class="btn-container text-center">
        <button>Estoy Interesado!</button>
    </div>
</div>

<style>
    .icon {
        transition: all 300ms;
    }

    .icon:hover {
        transform: scale(120%);
    }

    .btn-container {
        margin: 30px auto;
        display: flex;
        justify-content: space-around;
    }

    .btn-container > button {
        width: 200px;
        height: 40px;
        border: 0;
        background-color: #38081b;
        color: white;
        border-radius: 5px;
    }
</style>
